* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("../img/wp9748727-cartoon-dj-wallpapers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Vynil {
  width: 400px;
  height: 400px;
  background-image: url("../img/pngaaa.com-854455.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: #fff;
  animation-name: rotar;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
  position: relative;
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.btn-play {
  border-left: 80px solid #5f5;
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
  cursor: pointer;
}

.btn-pause {
  border-right: 20px solid #5f5;
  border-left: 20px solid #5f5;
  width: 75px;
  height: 100px;
  cursor: pointer;
}

.set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.set div {
  position: absolute;
  display: block;
}

.set div img {
  height: 100px;
  width: auto;
}

.set div:nth-child(1) {
  left: 20%;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
}

.set div:nth-child(2) {
  left: 50%;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
}

.set div:nth-child(3) {
  left: 70%;
  animation: animate 15s linear infinite;
  animation-delay: 0s;
}

.set div:nth-child(4) {
  left: 10%;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
}

.set div:nth-child(5) {
  left: 35%;
  animation: animate 18s linear infinite;
  animation-delay: -10s;
}

.set div:nth-child(6) {
  left: 95%;
  animation: animate 12s linear infinite;
}

.set div:nth-child(7) {
  left: 15%;
  animation: animate 14s linear infinite;
}

.set div:nth-child(8) {
  left: 60%;
  animation: animate 15s linear infinite;
}


@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}


.set-2 {
  transform: scale(2) rotateY(180deg);
  filter: blur(2px);
}

.set-3 {
  transform: scale(0.8) rotateX(180deg);
  filter: blur(4px);
}
